.carousel {
  position: relative;
}

.carousel__track {
  position: relative;
  overflow: hidden;
}

.carousel__tabs {
  flex-wrap: nowrap;
  transition: 250ms transform ease;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  bottom: 0;
  margin: 0;
  border: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--action-element-color);
  opacity: 0.7;
  z-index: 1;
  cursor: pointer;
}

.carousel__prev:focus,
.carousel__next:focus {
  outline: none;
}

.carousel__prev {
  left: -24px;
  border-radius: 0 5px 5px 0;
}

.carousel__next {
  right: -24px;
  border-radius: 5px 0 0 5px;
}

.carousel__prev svg,
.carousel__next svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--main-white);
}


.carousel__prev svg {
  transform: rotate(90deg);
}

.carousel__next svg {
  transform: rotate(-90deg);
}
